<div class="relative max-w-5xl mx-auto z-0">
	<div
		class="fixed bottom-0 left-0 ml-[-200px] top-[-3%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] z-[-1]">
	</div>
	<div
		class="fixed bottom-0 right-0 mr-[-200px] top-[-3%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] z-[-1]">
	</div>
</div>
