<header
	class="flex justify-center items-center py-4 w-full xl:w-[1120px] mx-auto mt-4 relative z-10">
	<nav
		class="flex flex-row gap-x-10 opacity-80 fixed bg-gray-200/10 backdrop-blur-2xl rounded-full px-6 py-1">
		<a
			href="#"
			class="hover:text-purple-200/90 transition ease-in-out hidden lg:block"
			>Inicio</a
		>
		<!-- <a
			href="#experiencia"
			class="hover:text-purple-200/90 transition ease-in-out">Experiencia</a
		> -->
		<a
			href="#proyectos"
			class="hover:text-purple-200/90 transition ease-in-out">Proyectos</a
		>
		<a
			href="#sobre-mi"
			class="hover:text-purple-200/90 transition ease-in-out hidden lg:block"
			>Sobre mí</a
		>
		<a
			href="#contacto"
			class="hover:text-purple-200/90 transition ease-in-out">Contacto</a
		>
	</nav>
</header>
