---
import ProjectItem from "./ProjectItem.astro";
import JavaIcon from "./icons/Java.astro";
import HTMLIcon from "./icons/HTML.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import NextJSIcon from "./icons/NextJsIcon.astro";
import MongoDBIcon from "./icons/MongoDBIcon.astro";
import TailwindCssIcon from "./icons/TailwindCssIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";

const TAGS = {
  JAVA: {
    name: "Java",
    icon: JavaIcon,
  },
  HTML: {
    name: "HTML",
    icon: HTMLIcon,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    icon: BootstrapIcon,
  },
  JS: {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  NEXTJS: {
    name: "Next.js",
    icon: NextJSIcon,
  },
  MONGODB: {
    name: "MongoDB",
    icon: MongoDBIcon,
  },
  TAILWINDCSS: {
    name: "Tailwind CSS",
    icon: TailwindCssIcon,
  },
  REACT: {
    name: "React",
    icon: ReactIcon,
  },
};

const PROJECTS = [
  {
    title: "Local AI Chat App",
    description:
      "Desarrollé una aplicación de chat local que permite a los usuarios chatear con una inteligencia artificial local. La aplicación fue construida con Next.js y utiliza Tailwind CSS para el diseño. La inteligencia artificial proviene del motor de modelos en el cliente de Web-LLM que utiliza WebG.",
    image: "/projects/ai-chatbot.webp",
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.TAILWINDCSS],
    link: "https://local-ai-chat-bot-vc.vercel.app/",
  },
  {
    title: "Linkloom Url Shortener",
    description:
      "Desarrollé un sistema web que permitir a los usuarios registrar URLs, acortarlas y obtener estadísticas de acceso. Implementé características innovadoras integración de códigos QR y vista previa del recurso al agregar un nuevo enlace. El sistema fue construido con Next.js y MongoDB utilizando Mongoose, y utiliza NextAuth para la autenticación.",
    github: "https://github.com/NightmareVCO/urlShortener-nextjs",
    image: "/projects/linkloom.webp",
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.TAILWINDCSS, TAGS.MONGODB],
    link: "https://linkloom.live",
  },
  {
    title: "Dashboard Administrativo de Linkloom",
    description:
      "Desarrollé un dashboard administrativo para la aplicación Linkloom, que permite a los usuarios ver gráficos detallados, listas de datos y realizar búsquedas en las listas, gráficos de acceso utilizando Recharts. El dashboard fue construido con Next.js y MongoDB utilizando Mongoose, y utiliza NextAuth para la autenticación. Para probar el dashboard, inicia sesión con admin@admin.com y la contraseña admin. Para una mejor expereincia de usuario, se recomienda utilizar un ordenador.",
    github: "https://github.com/NightmareVCO/urlShortener-nextjs",
    image: "/projects/dashboard.webp",
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.TAILWINDCSS, TAGS.MONGODB],
    link: "https://linkloom.live/dashboard",
  },
];
---

<div class="flex flex-col gap-y-12">
  {
    PROJECTS.map((project) => (
      <article>
        <ProjectItem {...project} />
      </article>
    ))
  }
</div>
